  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      margin: 0;
      padding: 0;
      background-color: #fff;
      font-family: 'Roboto', sans-serif;
  }

  .heading {
      display: flex;
      justify-content: center;
      margin: 5vh;
  }

  .periodic-table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
  }

  .periodic-table td {
      padding: 5px 4px;
      text-align: center;
      border: 3px solid white;
      overflow: hidden;
      white-space: nowrap;
      font-size: 12px;
      line-height: 1.4;
  }
  p{
    font-size: 10px;
  }
  
  .green {
      color: green;
      background-color: #99E599;
  }

  .yellow {
      color: rgb(255, 145, 0);
      background-color: #FFE57F;
  }

  .grey {
      color: rgb(94, 94, 94);
      background-color: #CCCCCC;
  }

  .blue {
      color: rgb(0, 140, 255);
      background-color: #B2E5FF;
  }

  .red {
      color: rgb(145, 39, 0);
      background-color: rgb(255, 200, 180);
  }

  .purple {
      color: rgba(79, 0, 144);
      background-color: #9E87BD;
  }

  .pink {
      color: rgb(205, 37, 93);
      background-color: #FFCCE5;
  }

  .greenish-purple {
      color: rgb(0, 126, 122);
      background-color: #7FE5E5;
  }

  .bluish-purple {
      color: rgb(1, 71, 162);
      background-color: #B2CCFF;
  }

  .not-red {
      background-color: rgb(145, 39, 0);
      color: white;
  }